<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Sobre la app</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1>Sobre TeLlevoApp</h1>
    </ion-toolbar>
  </ion-header>

  <div class="info">
    <h1>Contexto del problema</h1>
      <p>En el contexto actual de la pandemia que a nivel mundial se 
        está viviendo, han surgido una serie de situaciones por las que 
        las instituciones de educación superior han tenido que sobre
        llevar. </p>
        
      <p>Una de ellas es el hecho de tener una continuidad en la 
        educación llevando las clases de la modalidad presencial a la 
        modalidad remota. </p>
       <div class="row">
        <div class="imagen">
          <img src="assets/vehiculo.svg" alt="">
        </div>
        <div class="imagen">
          <img src="assets/clases.svg" alt="">
        </div>
       </div>
        <p>Sin embargo, con el paso de los meses y 
          con el actuar de distintos actores, a saber, autoridades sanita
          rias, colaboración con entidades comunales, cuidados y res
          ponsabilidad de la ciudadanía, entre otros, ha llevado a volver 
          a cierta presencialidad.  
          </p>
          
          <div class="row">
            <div class="imagen">
              <img src="assets/pandemiamujer.svg" alt="">
            </div>
            <div class="imagen">
              <img src="assets/pandemiahombre.svg" alt="">
            </div>
          </div>
  </div>



</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a target="_blank" href="https://www.duoc.cl/"><h3>Instituto profesional Duoc UC</h3></a>
    </ion-title>
  </ion-toolbar>
</ion-footer>