ion-title,ion-card-title{
    text-align: center;
}

ion-toolbar{
    --background:var(--titulo);
}

ion-content,ion-card{
    --background:var(--fondos);
}

ion-card{
    box-shadow: 0px 0px 10px 1px var(--shadow);
}

ion-card-title{
    color:black;
}

h4{
    color: black;
}

