<ion-content [fullscreen]="true">


  <!-- Menu desplegable-->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opciones</ion-title>
        
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="container">
         <ion-list>
          <ion-item *ngIf="login" detail="true" (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
            <p>Logout</p>
          </ion-item>
           <ion-item *ngIf="login == false" [routerLink] ="['/login']">
             <ion-icon name="log-in"></ion-icon>
             <p>Inicio de sesión/Registrarse</p>
           </ion-item>
           <ion-item [routerLink] ="">
             <ion-icon src="assets/route.svg"></ion-icon>
             <p>Viajes</p>
           </ion-item>
           <ion-item [routerLink] = "">
             <ion-icon name="call-sharp"></ion-icon>   
             <p>Contactos</p>
           </ion-item>
           
   
         </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>TeLlevoApp</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding"> 
      <div class="bienvenida">
        <h1>Bienvenido a TeLlevoApp</h1>
        <p>Una app hecha para solucionar todos esos problemas de transporte, uniéndonos como institución,
           motivándonos a llevar una educación más amena y responsable.</p>
      </div>
      
      <!-- Contenedor de cards infomativas -->
        <h4>Beneficios respecto al transporte</h4>
      <div class="cards">
        <ion-card>
          <ion-icon src="assets/tiempo.svg"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle>Rápido</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-icon src="assets/confiable.svg"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle>Simple</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-icon src="assets/corazon.svg"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle>Confiable</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-icon src="assets/amigable.svg"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle>Amigable</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>

    </ion-content>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <a target="_blank" href="https://www.duoc.cl/"><h3 >Instituto profesional Duoc UC</h3></a>
    </ion-title>
  </ion-toolbar>
</ion-footer>